# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# Python databases
*.db

# Jupyter notebooks
.ipynb_checkpoints/

# macOS
.DS_Store